:root {
  --swiper-theme-color: #83c05d !important;
}

/* .swiper-button-prev,
.swiper-rtl .swiper-button-next {
  color: black;
}
.swiper-button-prev,
.swiper-rtl .swiper-button-next {
  color: #83c05d;
} */
